#header-blue {
    color: #233D4D;
}

#shadow {
    box-shadow: 0 0 1em #233D4D;
    background-color: #5ADBFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

#date,
#ip,
#b2b {
    display: none;
}

#shadow input {
    max-width: 375px;
    width: 375px;
}

#align-itens {
    display: flex;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

#alinha-itens>div {
    margin-top: 60px;
    font-family: 'Fjalla One', sans-serif;
}

@media (max-width: 767px) {
    h2 {
        font-size: 9px;
    }
}