#header-blue {
    color: #233D4D;
}

#shadow {
    box-shadow: 0 0 1em #233D4D;
    background-color: #5ADBFF;
}

#align-itens {
    display: flex;
    align-items: center;
}

#align-itens>div {
    margin-top: 30px;
}

@media (max-width: 767px) {
    h2 {
        font-size: 9px;
    }
}