@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

.container-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Fjalla One', sans-serif;
    background-image: none;
}

#post {
    box-shadow: 0 0 1em black;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

h4>a {
    text-decoration: none;
}

.container-posts>div.postzao {

    display: flex;
    flex-direction: column;
    flex-grow: 3;
    max-width: 50%;
    text-align: center;
    background-color: white;

}

.container-posts>div.postzao>h1 {


    align-self: flex-start;
}

.container-posts>div.postzao h2 {


    align-self: flex-start;
}


.container-posts>div.postzao p {

    color: gray;
    align-self: flex-start;
}

.container-posts>div.postzao>.post-preview {


    background-color: white;
    box-shadow: 0 0 1em black;
    margin: 20px;
    height: 500px;
}

.container-posts>div.postzao>.post-preview a {


    text-decoration: none;
    color: #233D4D;
}

.container-posts>div.postzao>.post-preview h2 a:hover {


    text-decoration: none;
    color: #5ADBFF;
}

.container-posts>div.postzao>.post-preview img {

    max-width: 100%;
    height: auto;
    width: 350px;
    float: left;
    background-color: white;
}

.square_btn :hover {
    color: #233D4D
}

.square_btn {
    display: inline-block;
    padding: 0.5em 2em;
    text-decoration: none;
    background: #5ADBFF;
    /*Button Color*/
    color: white;

    border-radius: 3px;
}

.container-posts>div.postzao>h1 {}

article {}

#artigo {
    overflow: auto;
}

h3,
h2,
a {
    color: rgb(241, 238, 10);
}

@media (max-width: 414px) {
    h2 {
        font-size: 8px;
    }

    p {
        font-size: 10px;
    }

    article {
        font-size: 8px;
    }

    h6 {
        font-size: 6px;
    }





}