.navbar {
  display: flex;

  background-color: #233D4D;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.logo p#logo>span {
  color: #5ADBFF;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

.square_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #5ADBFF;
  /*Button Color*/
  color: #white;

  border-radius: 3px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("/sunrise-1634197_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

}


.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navbar>div>p {



  display: inline;

  color: white;
  font-size: 20px;


}

ul li {
  list-style: none;
}

ul>li>a {
  font-weight: 700px;
  text-decoration: none;
  font-size: 1.25em;
}

.navbar>div>ul>li {



  display: inline;


  font-size: 20px;
  margin: 10px;

}

.navbar>div>ul>li>a {
  color: white;
}

.navbar>div>p#logo {
  font-size: 40px;
}

.navbar>div>p.centro {



  margin: 20px;

  color: white;



}

.container {
  height: 300px;

}



.App-link {
  color: #09d3ac;
}