.navbar-header {
  float: left;

  text-align: center;
  width: 100%;
}

.masthead {
  background-image: url('/euro-1353420_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.navbar-brand {
  float: none;
}


a>span {
  color: rgb(241, 238, 10);
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');


body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(151, 151, 170);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

}




.navbar a {




  color: white;


  font-weight: 700px;
  text-decoration: none;
  font-size: 30px;
}

ul li {
  list-style: none;
}

article {}

#conteudoMargin {
  margin-right: 10px;
}

ul>li>a {
  font-weight: 700px;
  text-decoration: none;
  font-size: 1.25em;
}



.navbar>div>ul>li>a {
  color: white;
}



.navbar>div>p.centro {



  margin: 20px;

  color: white;



}

.container {
  height: 300px;

}



.App-link {
  color: #09d3ac;
}