#artigo {
    overflow: auto;
    font-family: 'Center Sans Pro', sans-serif;

}

#article {
    background-color: white;
    box-shadow: 0 0 1em #6BBF54;
    font-family: 'Fjalla One', sans-serif;
    height: 100%;
}