@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

.container-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Fjalla One', sans-serif;
}


.container-posts>div.postzao {

    display: flex;
    flex-direction: column;
    flex-grow: 3;
    max-width: 90%;
    text-align: center;
    background-color: #f6f6f6;

}

.container-posts>div.postzao>h1 {


    align-self: flex-start;
}

.container-posts>div.postzao h2 {


    align-self: flex-start;
}


.container-posts>div.postzao p {

    color: gray;
    align-self: flex-start;
}

.container-posts>div.postzao>.post-preview {


    background-color: white;
    box-shadow: 0 0 1em black;
    margin: 20px;

}

.container-posts>div.postzao>.post-preview a {


    text-decoration: none;
    color: #233D4D;
}

.container-posts>div.postzao>.post-preview h2 a:hover {


    text-decoration: none;
    color: #5ADBFF;
}

.container-posts>div.postzao>.post-preview>img {
    width: 35%;
    height: 100%;
    float: left;
    background-color: white;
}

.square_btn :hover {
    color: #233D4D
}

.square_btn {
    display: inline-block;
    padding: 0.5em 2em;
    text-decoration: none;
    background: #5ADBFF;
    /*Button Color*/
    color: white;

    border-radius: 3px;
}

.container-posts>div.postzao>h1 {}

article {}